@font-face{
    src: url("../Fonts/PumpkinStory-vmKrM.ttf");
    font-family: 'Pumpkin';
}

@font-face{
    src: url('../Fonts/Kodchasan-Regular.ttf');
    font-family: 'Kodchasan';
}

@font-face{
    src: url('../Fonts/Kodchasan-Bold.ttf');
    font-family: 'Kodchasan';
    font-weight: bold;
}

@font-face{
    src: url('../Fonts/Kodchasan-Medium.ttf');
    font-family: 'Kodchasan';
    font-weight: 500;
}

:root{
    /* =========== Color Scheme=============== */
    --red: #ef476f;
    --yellow: #ffd166;
    --green: #06d6a0;
    --blue: #118ab2;
    --darkgreen: #073b4c;
    --darkblue: #455e7c;

}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body,html{

    font-size: 5vw;

}

/* ================ Sign Again Alert =============== */
.sign-in-again-alert{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

.inner-alert{
    width: 80%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inner-alert i{
    font-size: 3rem;
    color: var(--red);
}

.alert{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    padding: 0px 2%;
    color: var(--darkgreen);
}

.sign-in-redirect{
    background-color: var(--blue);
    border: none;
    padding: 2% 10%;
    border-radius: 10px;
    cursor: pointer;
}

.sign-in-redirect a{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: white;
    font-family: 'Kodchasan';
    text-decoration: none;
    font-weight: bold;
}

        /* ========= Flat Picker styling=========== */
        .flatpickr-calendar{
            border: 0px !important;
            background-color: transparent !important;
        }
        .flatpickr-calendar  *{
            font-family: 'Kodchasan' !important;
            color: white !important;
        }

        .flatpickr-months{
            color: var(--red) !important;
            background-color: var(--yellow);
        }

        .flatpickr-innerContainer{
            background-color: var(--blue);

        }

        .flatpickr-monthDropdown-months, .cur-year{
            color: var(--red) !important;
            font-weight: bold !important;
        }

        .flatpickr-monthDropdown-months> option{
            color: var(--darkgreen) !important;
        }

        .flatpickr-calendar.arrowBottom:after{
            border-top-color: var(--yellow);
        }

        .flatpickr-day.selected, .flatpickr-day:hover{
            background: var(--red) !important;
            border: none !important;
        }



@media screen and (min-width: 768px) {
    body,html{
        font-size: 4vw;
    }

    .inner-alert{
        width: 70%;
        height: 50%;
    }

}

@media screen and (min-width: 1200px) {
    body,html{
        font-size: 1.3vw;
    }

    .inner-alert{
        width: 30%;
        height: 40%;
    }

}

@media screen and (min-width: 1600px) {
    body,html{
        font-size: 1.5vw;
    }
}



